.git
.venv
venv
__pycache__
*.py[cod]
.DS_Store
.env
runs/**
!runs/.gitkeep
data/raw/**
!data/raw/.gitkeep
data/manually_fixed/**
temporary
temporary/**
outputs
checkpoints
nerfstudio
gsplat
colmap
final
manually_fixed
